<p id="notice"><%= notice %></p>


<p>
  <span class="label label-info ">Nombre:</span>
  <%= @user.username %>
</p>

<p>
 <span class="label label-info ">Email:</span>

  <%= @user.email %>
</p>

<div class="modal-footer">
<center>
<%= link_to 'Editar', edit_user_path(@user),:class =>"btn btn-success btn-mini" %> |
<%= link_to 'Atras', users_path,:class =>"btn btn-success btn-mini" %>
</center>

